<script>
	let visible;
	function handleToggle() {
		visible = !visible;
	}
	export let x, y, z;
</script>

<header>
	<div class="absolute t0 l0 r0 p text-center z3" style="background-color:rgb({x},{y},{z});">
		<h1><button on:click={handleToggle} on:keydown={handleToggle}>MBL architectes</button></h1>
		<div class="absolute t0 r0 p z3">
			<a href="." data-sveltekit-preload-data="hover">en</a>/<a
				href="fr"
				data-sveltekit-preload-data="hover">fr</a
			>
		</div>
	</div>
	<div class="fixed t0 w100 z2 mixblend text-center p">
		<button on:click={handleToggle} on:keydown={handleToggle}>MBL architectes</button>
	</div>
	{#if visible}
		<div class="fixed t0 l0 r0 b0 z3 o-y-auto" style="background-color:rgb({x},{y},{z});">
			<div class="fixed t0 w100 z2 mixblend text-center p">
				<button on:click={handleToggle} on:keydown={handleToggle}>× MBL architectes</button>
			</div>
			<div class="content pt">
				<slot />
			</div>
		</div>
	{/if}
</header>
