<script>
	import './styles.css';
	export let data;
	const { infofr, info } = data;
	import Header from '$lib/Header.svelte';
	import { page } from '$app/stores';
	import { onMount } from 'svelte';
	let x;
	let y;
	let z;
	onMount(async () => {
		x = Math.floor(Math.random() * 255);
		y = Math.floor(Math.random() * 255);
		z = Math.floor(Math.random() * 255);
	});
</script>

{#if $page.url.pathname === '/fr'}
	<Header {x} {y} {z}>
		{@html infofr.content.rendered}
	</Header>
{:else}
	<Header {x} {y} {z}>
		{@html info.content.rendered}
	</Header>
{/if}

<main class="pt">
	<slot />
</main>
