<script>
	export let data;
	const { posts } = data;
	import Post from '$lib/Post.svelte';
	$: shufflePosts = posts.slice(2).sort(() => Math.random() - 0.5);
</script>

<svelte:head>
	<title>MBL architectes</title>
</svelte:head>
<Post
	slug={posts[1].slug}
	title={posts[1].title.rendered}
	phrase={posts[1].acf.phrase}
	description={posts[1].acf.description}
	year={posts[1].acf.year}
	budget={posts[1].acf.budget}
	area={posts[1].acf.area}
	team={posts[1].acf.team}
	program={posts[1].acf.program}
	client={posts[1].acf.client}
	status={posts[1].acf.status}
	location={posts[1].acf.location}
	video={posts[1].acf.video}
	images={posts[1].acf.images}
/>
{#each shufflePosts as post}
	{#if post.categories[0] === 4}
		<Post
			slug={post.slug}
			title={post.title.rendered}
			phrase={post.acf.phrase}
			description={post.acf.description}
			year={post.acf.year}
			budget={post.acf.budget}
			area={post.acf.area}
			team={post.acf.team}
			program={post.acf.program}
			client={post.acf.client}
			status={post.acf.status}
			location={post.acf.location}
			video={post.acf.video}
			images={post.acf.images}
		/>
	{/if}
{/each}
