<!-- <script>
import {capitalise} from '$lib/utils.js'
function handle_click(){
  alert(capitalise('blabla'));
}
</script> -->

<header class="flex pO5">
	<h1>
		<a href="mailto:mail@eurogroupe.org">➜ Mail </a><a href="tel:0032479232649"
			>➜ Brussels +32 479232649
		</a><a href="tel:003395594522">➜ Paris +33 695594522</a> ●&nbsp;Laure Giletti and Gregory Dapra
		are working together as <a href="https://www.eurogroupe.org">Eurogroupe</a> since 2012. They operate
		within the fields of graphic design and web development. They design on paper, screen and space upon
		long-standing collaborations. ●&nbsp;Translating complexity into appropriate formats and durable
		forms is their main concern. Attentive to the way images and texts sustain their own intent and impact,
		their approach results in a content-based production.
	</h1>
	<h2>
		● They both graduated from the Werkplaats Typografie (Arnhem), and Gregory from ERG (Brussels),
		Laure from ENSAD–Paris and ERBA–Valence. ●&nbsp;Selected clients: Éditions La Découverte,
		Faculté d'Architecture La Cambre Horta, Fédération Wallonie-Bruxelles, HEAD–Genève, La maison
		rouge, Paraguay Press, Le Plateau–frac île-de-france, Piet Zwart Institute, Roma Publications,
		Sciences Po, Sony Computer Science Laboratory, Spector Books, Wallonie-Bruxelles Architectures.
	</h2>
	<h1 class="none">
		<a href="mailto:mail@eurogroupe.org">➜ Mail </a><a href="tel:0032479232649"
			>➜ Brussels +32 479232649
		</a><a href="tel:0033695594522">➜ Paris +33 695594522</a> ●&nbsp;Laure Giletti and Gregory Dapra
		are working together as <a href="https://www.eurogroupe.org">Eurogroupe</a> since 2012. They operate
		within the fields of graphic design and web development.
	</h1>
</header>

<style>
	/*header{
    background-color: black;
    color:white; 
    padding: .5em;
  }*/
	h1,
	h2 {
		padding: 0.25em;
		font-family: 'pantasia';
		font-size: 16px;
		line-height: 1;
		word-spacing: -0.08em;
		letter-spacing: 0em;
	}
</style>
