<script>
	// import { capitalise } from '$lib/utils.js';
	// function handle_click() {
	// 	alert(capitalise('blabla'));
	// }
	let visible;
	function handleToggle() {
		visible = !visible;
	}
</script>

<header class="pO5">
	<h1>
		<a href="mailto:mail@eurogroupe.org">➜Mail </a>&nbsp;<a href="tel:0032479232649"
			>➜Brussels +32479232649
		</a>&nbsp;<a href="tel:003395594522">➜Paris +33695594522</a>&nbsp;<a href="tel:003395594522"
			>➜Palermo +39695594522</a
		>
		Laure Giletti and Gregory Dapra are working together as Eurogroupe since 2012. They operate within
		the fields of graphic design and web development. They design on paper, screen and space upon long-standing
		collaborations. <button on:click={handleToggle}>[…]</button>
	</h1>
	{#if visible}
		<h2>
			●&nbsp;Translating complexity into appropriate formats and durable forms is their main
			concern. Attentive to the way images and texts sustain their own intent and impact, their
			approach results in a content-based production. ● They both graduated from the Werkplaats
			Typografie (Arnhem), and Gregory from ERG (Brussels), Laure from ENSAD–Paris and ERBA–Valence.
			●&nbsp;Selected clients: Éditions La Découverte, Faculté d'Architecture La Cambre Horta,
			Fédération Wallonie-Bruxelles, HEAD–Genève, La maison rouge, Paraguay Press, Le Plateau–frac
			île-de-france, Piet Zwart Institute, Roma Publications, Sciences Po, Sony Computer Science
			Laboratory, Spector Books, Wallonie-Bruxelles Architectures.
		</h2>
	{/if}
	<!-- <h1 class="none">
		<a href="mailto:mail@eurogroupe.org">➜ Mail </a><a href="tel:0032479232649"
			>➜ Brussels +32 479232649
		</a><a href="tel:0033695594522">➜ Paris +33 695594522</a> ●&nbsp;Laure Giletti and Gregory Dapra
		are working together as <a href="https://www.eurogroupe.org">Eurogroupe</a> since 2012. They operate
		within the fields of graphic design and web development.
	</h1> -->
	<!-- <button on:click={handle_click}>{capitalise('click me')}</button> -->
</header>

<style>
	header {
		padding: 0.5em;
	}
	h1,
	h2,
	h3 {
		font-family: 'arial';
		font-size: 20px;
		word-spacing: 0;
		letter-spacing: 0.02em;
	}
	h3 {
		text-align: center;
		font-size: 16px;
	}
	a {
		color: rgba(0, 0, 255, alpha);
		text-transform: uppercase;
	}
	/* header {
		background-color: #ff4500;
	} */
	/* h1,
	h2 {
		padding: 0.25em;
	} */
</style>
