<script>

  export let post;
  let visible;
  function handleToggle() {
    visible = !visible;
  }
  let items = [
		post.thumbnail.thumbImage ? { src: `${post.thumbnail.thumbImage.sourceUrl}`, srcSet: `${post.thumbnail.thumbImage.srcSet}` } : {src: 'null'},
    post.thumbnail.thumbImage2 ? { src: `${post.thumbnail.thumbImage2.sourceUrl}`, srcSet: `${post.thumbnail.thumbImage2.srcSet}` } : {src: 'null'},
	];
  items = items.filter(function(el) { return el.src !== 'null'; });
  // console.log(items)
  function nextSlide() {
		items = [...items.slice(1), items[0]];
		console.log('items', items);
	}
  function prevSlide() {
		items = [items[items.length - 1], ...items.slice(0, items.length - 1)];
	}
</script>

<article>
  <!-- <ul>
		{#each items as item (item.id)}
			<li
				style="background-color: {item.color};"
			>
				{item}
			</li>
		{/each}
	</ul> -->
		{#each items as item}
    <img loading="lazy" src={item.src} alt="aaaa" />
		{/each}
  <!-- {@html post.content} -->
  <!-- <a href={post.uri}> -->
        <!-- {#if post.thumbnail.thumbImage}
        <img loading="lazy" src={post.thumbnail.thumbImage.sourceUrl} srcSet={post.thumbnail.thumbImage.srcSet} alt="aaaa" />
        {/if}

        {#if post.thumbnail.thumbVideo}
        <video class="laz" src={post.thumbnail.thumbVideo.mediaItemUrl} autoplay loop muted playsinline>
          <track default kind="captions" />
          Sorry, your browser doesn't support embedded videos.
        </video>
      {/if} -->
      <nav>
        <div><button on:click={prevSlide}>{"<"}</button><button on:click={nextSlide}>{">"}</button></div>
      <div class="phrase" on:click={handleToggle}>A book about an exhibition
      <!-- <p>First publication to gather all theatrical works by artist Guy de Cointet, the book presents 25 plays in chronological order, each published with an explanatory apparatus and numerous documents.</p> -->
    </div>
    </nav>
  <!-- {#if post.featuredImage}
  <a href={`/blog${post.uri}`}>
    <a href={post.uri}>

      <img src={post.featuredImage.node.sourceUrl} alt={post.featuredImage.node.altText} />
  </a>
{/if} -->
  <!-- <a href={post.uri}>
    <h2>{post.title}</h2>
  </a> -->
  <!-- <div>{@html post.content}</div> -->
<!-- </a> -->


</article>
{#if visible}
  <!-- <div class="open" on:click={handleToggle}>{@html post.content}</div> -->
  <div class="open" on:click={handleToggle}><p>17 × 22 cm ✴ 448 pages ✴ 2000 copies ✴ [FR] ISBN: 978-2-918252-33-7 ✴ [EN] ISBN 978-2-918252-50-4 ✴ Published by Paraguay Press, Paris ✴ Edited by Hugues Decointet, François Piron, Marilou Thiébault ✴ Pictograms by Hugues Decointet ✴ Printed in Belgium by Graphius<br/><br/>vidéo, doc, extra, etc</p></div>
{/if}
<style>
      article{
    width: 100%;
    height: 100vh;
    position: relative;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
  }
  nav{
position: absolute;
bottom: 0;
width: 100%;
display: flex;
justify-content: space-between;
padding: .5em;
color: white;
mix-blend-mode: difference;
  }
  .phrase{
    padding: .5em;
  }
  button{
    padding: .5em;
    margin: .1em;
    border-radius: 1em;
    background-color: white;
    color: black;
    border: 0;
  }
  div{
    cursor: pointer;
  }
  a{
    display: block;
  }

li{
  width: 100%;
  height: 100vh;
}
  .open{
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    overflow-y: auto;
    background-color:aquamarine; 
    color: black;
    padding: 4em;
    display: flex;
    justify-items: center;
    justify-content: center;
  }
  .open p{
    width: 760px;
  }
  :global(img) {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover !important;
  }
</style>