<script>
  export let post;
  let visible;
  function handleToggle() {
    visible = !visible;
  }
</script>

<article>
  <a sveltekit:prefetch href={post.uri}>
<div>
        {#if post.thumbnail.thumbImage}
        <img loading="lazy" src={post.thumbnail.thumbImage.sourceUrl} srcSet={post.thumbnail.thumbImage.srcSet} alt="aaaa" />
        {/if}
        {#if post.thumbnail.thumbVideo}
        <video class="laz" src={post.thumbnail.thumbVideo.mediaItemUrl} autoplay loop muted playsinline>
          <!-- <source data-src={`/media/${post.video}.mp4`} type="video/mp4" /> -->
          <track default kind="captions" />
          Sorry, your browser doesn't support embedded videos.
        </video>
      {/if}
      <!-- <p>First publication to gather all theatrical works by artist Guy de Cointet, the book presents 25 plays in chronological order, each published with an explanatory apparatus and numerous documents.</p> -->
    </div>
  <!-- {#if post.featuredImage}
  <a href={`/blog${post.uri}`}>
    <a href={post.uri}>

      <img src={post.featuredImage.node.sourceUrl} alt={post.featuredImage.node.altText} />
  </a>
{/if} -->
  <!-- <a href={post.uri}>
    <h2>{post.title}</h2>
  </a> -->
  <!-- <div>{@html post.content}</div> -->
</a>

</article>
<style>
  div{
    cursor: pointer;
  }
  a{
    display: block;
  }
  p{
    margin-left: 100px;
  }
    article{
    flex: 50% 0 0;
    /* padding: .5em; */
  }
  .open{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    background-color:aqua; 
    padding: 4em;
  }
</style>