<script>
	import viewport from '$lib/useViewportAction';
	import lazy from '$lib/lazy';
	export let post;
	let visible, hover;
	function enter() {
		hover = true;
	}
	function leave() {
		hover = false;
	}
	function handleToggle() {
		visible = !visible;
	}
</script>

<article>
	<div on:mouseenter={enter} on:mouseleave={leave}>
		<a sveltekit:prefetch href={`/${post.slug}`}>
			{#if post.acf.images}
				<div>
					{#if hover}
						<div class="fixed z3 mix-blend b0 l0 r0 text-center p05">
							<h1>{@html post.title.rendered}</h1>
						</div>
						{#if post.acf.images.img2}
							<img
								src={post.acf.images.img2.sizes.thumbnail}
								width={post.acf.images.img2.sizes['thumbnail-width']}
								height={post.acf.images.img2.sizes['thumbnail-height']}
								alt={post.title.rendered}
							/>
						{:else}
							<img
								src="./favicon.png"
								width={post.acf.images.img1.sizes['thumbnail-width']}
								height={post.acf.images.img1.sizes['thumbnail-height']}
								alt={post.title.rendered}
							/>
						{/if}
					{:else if post.acf.images.vid1}
						<video
							use:lazy
							class="lazy"
							data-src={post.acf.images.vid1}
							type="video/mp4"
							preload="auto"
							muted
							autoplay
							loop
							playsinline
						>
							<track default kind="captions" />
						</video>
					{:else}
						<img
							use:lazy
							class="lazy"
							src=""
							data-src={post.acf.images.img1.sizes.thumbnail}
							width={post.acf.images.img1.sizes['thumbnail-width']}
							height={post.acf.images.img1.sizes['thumbnail-height']}
							alt={post.title.rendered}
						/>
					{/if}
				</div>
			{/if}
		</a>
	</div>

	<!-- <p>{@html post.excerpt.rendered}</p> -->
	<!-- <p>First publication to gather all theatrical works by artist Guy de Cointet, the book presents 25 plays in chronological order, each published with an explanatory apparatus and numerous documents.</p> -->
</article>

<style>
	img {
		aspect-ratio: 4 / 3;
	}
	article {
		flex: 50% 0 0;
		padding: 0em;
	}
	h2 {
		/* text-transform: uppercase; */
		font-size: 10vw;
		font-family: serif;
		line-height: 1em;
		letter-spacing: -0.04em;
	}
	/* .open{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    background-color:aqua; 
    padding: 4em;
  } */
	@media (max-width: 600px) {
		article {
			flex: 100% 0 0;
		}
	}
</style>
